/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-primary),system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--fw-card-text);
  background-image: var(--bg-grid);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  block-size: 327px;  
  margin-block: 100px;
  background-color: white;
  border: 2px solid black;
  inline-size: var(--width-main);
  margin-inline: auto;

}

.header__logo{
  font-family: var(--font-accent);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); 
}
.header__tagline{
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
  text-transform: uppercase;
}

main{
  display: grid;
  grid-template-columns: var(--width-main);;
  grid-template-rows: repeat(8,max-content);
  justify-content: center;
  align-content: start;
  row-gap: calc(50px - 4px);
}

.post{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border-default);
}

.post__title,
.post__text {
  font-size: var(--fs-card);
  letter-spacing: 0.1px;
}

.post__title{
  font-variation-settings: 'wght' var(--fw-card-title);
  padding-inline: 10px;
  padding-block: 4px;
  align-self: flex-start;
  line-height: 23.8px;

}

.title{
  line-height: 22px;
}

.post__images{
  position: relative;
  border-block: var(--border-default);
}

.post__image{
  display: block;
  margin-block-end: -2px;
  width: clamp(375px, 100vw, 696px);
  height: clamp(375px, 100vw, 696px);;
 
}

.post__image-caption{
  position: absolute;
  z-index: 100;
  inset-block-start:25px; 
  inset-inline-start: 250px;
  font-size: var(--fs-button-lable);
  font-family: var(--font-accent);
  opacity: 0.5;
  mix-blend-mode: hard-light;
   text-shadow: 
    -1px  0   0 var(--label-stroke-color),
     1px  0   0 var(--label-stroke-color),
     0   -1px 0 var(--label-stroke-color),
     0    1px 0 var(--label-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) or
          (    text-stroke: 1px var(--label-stroke-color)){
  .post__image-caption{
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
            text-stroke: 1px var(--label-stroke-color);
  }
}

.post__text{
  padding-block-start: 25px;
  padding-inline: 24px;
  line-height: 20.90px;
}

.post__text-hero{
  padding-block: 25px;
  align-self: flex-start;
}

.like-button{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  gap: 12px;
}

.card__like-button{
  font-family: var(--font-accent);
  font-size: var( --fs-button-lable);
  padding-block: 12px;
  padding-inline: 37px;
  border: var(--border-default);
  line-height: 90%;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}


.footer__save-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: var(--label-stroke-color);
  padding-inline: 20px;
  padding-block: 17px;
  border: var(--border-default);
  margin-block-start: 50px;
  margin-block-end: 100px;

}

.button__text{
  
  font-family: var(--font-accent);
  font-size: var(--fs-button-lable); 
  line-height: 90%;
}

.save-dialog {
  padding-block-start: 30px;
  padding-inline: 40px;
  border: var(--border-default);
  background-color: #ffffff;
  max-inline-size: 355px;
  color: #000;
  font-family: var(--font-accent);

}

.save-dialog[open] {
  display: grid;               
  row-gap: 30px;
}

.save-dialog__row {
  display: grid;                
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 20px;
}


.save-dialog__text {
  font-size: var(--fs-button-lable);
  line-height: 150%;
  text-transform: uppercase;
}

.save-dialog__ok {
  width: 100%;
  padding-block: 12px;
  border: var(--border-default);
  background-color: transparent;
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);   
}

@media (min-width: 1440px){

  .header{
    block-size: 368px; 
  }

  .post__image-caption{
    inset-block-start:23px; 
    inset-inline-start: 573px;
  }

  

}

