/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

   :root {
     /* Переменные-шрифты */
     --font-primary: 'InterVariable', sans-serif;
     --font-accent:  'PressStart2P', cursive;
     /* Задаём два веса для вариативного Inter */
     --fw-card-text:   410;  
     --fw-card-title:  715;  
   }
   
